body {
    margin: 0; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    padding: 0 3.17vw;
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

#canvas {
    
    height: 340px;
    width: 340px;
    display: flex;
    flex-wrap: wrap;

    
}

#canvasMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 5vw;
    left: 5vw;
    height: fit-content;
    width: fit-content;
    padding:16px;
    background-color: rgb(229, 229, 229, .75);
    color: black;
    border-radius: 15px;
    box-shadow: 1px 1px 25px grey; 
}

.subDivActive {
    visibility: visible;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.subDivInactive {
    visibility:hidden;
    display: none;
}

#colorPicker {
    height: 50px;
    width: 50px;
    padding: 0;
}
.canvasHead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scaleContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
}
.toggleButton {
    border: 2px solid blue;
    border-radius: 5px;
}
.grid {
    border: 1px solid grey;
}